$defaultFont: 'Poppins', sans-serif !important;
$defaultTextColor: #242424 !important;
$defaulFontSize: 14px !important;
$defaulFontWeight: 400 !important;

$colorPrimary: #FE9B26;
$colorSecondary: #3E1F96;
$colorTertiary: #218F9E;
$colorDanger: #FF2F2F;

$colorWhite: #FFFFFF;
$colorDefault: #242424;
$colorNetral20: #F5F5F5;
$colorNetral30: #DDDDDD;
$colorNetral40: #CCCCCC;
$colorNetral50: #B6B5B5;
$colorNetral60: #A8A7A7;
$colorNetral70: #979797;
$colorNetral80: #807E7E;
$colorNetral90: #6B6B6B