@import "./assets/css/variable";

body {
  margin: 0;
  font-family: $defaultFont;
  font-size: $defaulFontSize;
  color: $defaultTextColor;
  font-weight: $defaulFontWeight;
}

.bg-default {
  background-color: $colorNetral20 !important;
}
.bg-tertiary {
  background-color: $colorTertiary !important;
}
